.menu-bottom {
  background-color: #e1e1e1;
}
.menu-bottom_item {
  display: inline-block;
  margin-right: 95px;
}
.menu-bottom_item_btn {
  color: #2c2c2c;
  text-decoration: none;
}
.menu-bottom_item_btn:hover {
  text-decoration: underline;
}
.menu-bottom_item__margin {
  margin-left: 25px;
}
