.menu-bottom{
	background-color: #e1e1e1;
	&_item{
		display: inline-block;
		margin-right: 95px;
		
		&_btn{
			color: #2c2c2c;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	&_item__margin{
			margin-left: 25px;
		}
}