.menu-top {
  margin: 40px 0;
  background: linear-gradient(to top, #444343, #5e5e5e);
  line-height: 0;
  font-size: 0;
  list-style: none;
}
.menu-top_item {
  display: inline-block;
  line-height: 40px;
}
.menu-top_item_bnt {
  display: block;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
}
.menu-top_item_bnt:hover {
  background-color: #343434;
  border-right: 1px solid #838383;
  border-left: 1px solid #838383;
}
.menu-top_item_bnt__padding1 {
  width: 120px;
  padding-left: 25px;
}
.menu-top_item_bnt__padding1:hover {
  width: 119px;
  border-left: none;
}
.menu-top_item_bnt__padding2 {
  width: 66px;
  padding: 0 22px;
}
.menu-top_item_bnt__padding2:hover {
  width: 65px;
  padding-left: 21px;
}
.menu-top_item_bnt__padding3 {
  width: 108px;
  padding-left: 63px;
}
.menu-top_item_bnt__padding3:hover {
  width: 107px;
  padding-left: 62px;
}
.menu-top_item_bnt__padding4 {
  width: 91px;
  padding-left: 25px;
}
.menu-top_item_bnt__padding4:hover {
  width: 90px;
  padding-left: 24px;
}
